


.default-mode-color {
    background-color: #52feff;
}
.salience-color {
    background-color: #fcadfa;
}
.dorsal-attention-color {
    background-color: #6eb443;
}
.limbic-color {
    background-color: #2b7979;
}
.frontoparietal-control-color {
    background-color: #52297b;
}
.sensorimotor-color {
    background-color: #ffee3f;
}
.visual-color {
    background-color: #36298f;
}