a[aria-describedby="ref-marker"] {
    /* vertical-align: top;
    font-size: x-small;
    counter-increment: footnotes 1;
    text-decoration: none !important;
    color: inherit;
    cursor: pointer;
    outline: none;
    margin: 0 1px;
    font-weight: bold; */


/* JP wants the styling below:  */
    margin: 0 1px 0 0;
    top: -0.5em;
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    text-underline-offset: 0.05em;
    text-decoration: none !important;


  }

  a[aria-describedby="ref-marker"]::before {
    content: "[";
    opacity: 0.3;
  }


  a[aria-describedby="ref-marker"]::after {
    content: "]";
    opacity: 0.3;
  }

  a[aria-describedby="ref-marker"]:focus {
    text-decoration: underline;
  }

  a[aria-describedby="ref-marker"]:focus::after {
    outline: thin dotted;
    outline-offset: 2px;
  }

  /* We remove references for submission */
  /* a[data-referent-id] {
    display: none;
  } */