@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.presentation_wrapper {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr min(60ch, calc(100% - 64px)) 1fr;
  grid-column-gap: 32px;
  padding-top: 2rem;
  padding-bottom: 2rem;

  & > * {
    grid-column: 2;
  }

  & > [data-full-bleed=true] {
    grid-column: 1 / -1;
  }
}