* {
  /*Chrome, Safari and Opera */
  /*Firefox*/
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: grey transparent; /* scroll thumb and track */
}
*::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
*::-webkit-scrollbar-track {
  background: rgb(65, 64, 64); /* color of the tracking area */
}
*::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: grey; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 2px solid rgb(65, 64, 64); /* creates padding around scroll thumb */
}

button,
button:focus,
video,
video:focus {
  outline-style: none !important;
}

video::-internal-media-controls-download-button {
  display: none;
}

video::-webkit-media-controls-enclosure {
  overflow: hidden;
}

video::-webkit-media-controls-panel {
  width: calc(100% + 30px); /* Adjust as needed */
}

svg {
  display: inline-block !important;
}

object[type="application/pdf"] {
  @apply w-full h-full;
}

#gui {
  z-index: 30;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
  pointer-events: none;
}



.list {
  @apply list-inside pl-2;
}
.list li {
  @apply m-1;
}
ul.list,
ol.list {
  list-style-position: outside;
  margin-left: 1rem;
}
ul.list {
  @apply list-disc;
}
ul.list.unstyled {
  list-style-type: none;
  margin-left: 0.5rem;
}
ol.list {
  @apply list-decimal;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: underline !important;
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  hyphens: auto;
}
a:visited {
}
a:hover {
  cursor: pointer;
}
a:active {
}
a:focus {
}

.draft {
  border: 4px solid green;
}

h1, h2 {
  @apply text-xl text-center my-4 font-black;
  color: #005077;
}

h3 {
  @apply text-lg my-2 font-bold;
}

h4 {
  @apply my-1 font-bold;
}