/* 
@font-face {
  font-family: "Exo";
  src: url("../assets/fonts/exo2.woff") format("woff");
} */

/* exo-regular - latin */
@font-face {
    font-family: "Exo";
    font-style: normal;
    font-weight: 400;
    src: local("Exo Regular"), local("Exo-Regular"), url("../assets/fonts/exo-v9-latin-regular.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../assets/fonts/exo-v9-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* exo-italic - latin */
  @font-face {
    font-family: "Exo";
    font-style: italic;
    font-weight: 400;
    src: local("Exo Italic"), local("Exo-Italic"), url("../assets/fonts/exo-v9-latin-italic.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../assets/fonts/exo-v9-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* exo-700 - latin */
  @font-face {
    font-family: "Exo";
    font-style: normal;
    font-weight: 700;
    src: local("Exo Bold"), local("Exo-Bold"), url("../assets/fonts/exo-v9-latin-700.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../assets/fonts/exo-v9-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* exo-900 - latin */
  @font-face {
    font-family: "Exo";
    font-style: normal;
    font-weight: 900;
    src: local("Exo Black"), local("Exo-Black"), url("../assets/fonts/exo-v9-latin-900.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../assets/fonts/exo-v9-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  
  
  @supports (-webkit-touch-callout: none) {
    body,
    text {
      user-select: none;
    }
    .mobile-only {
      display: unset;
    }
    .desktop-only {
      display: none !important;
    }
  }
  
  @supports not (-webkit-touch-callout: none) {
    .mobile-only {
      display: none !important;
    }
    .desktop-only {
      display: unset;
    }
  }
  